html {

}

.midnight {
}
.gradient {
  height:100%;
  width: calc(100% - 30px);
  background: linear-gradient(rgba(255,0,0,0), rgba(0,0,0,1));
  position:absolute;
  z-index: 10;
}

.cardBody {
  height: 450px;
  background-size: cover;
  background-position: center;
  color: white;
}

.cardBody h3 {
  z-index:100;
}
